dots
.Xauthority
.cache/
.config/Signal/
.config/cron/
.config/dev/personal/
.config/dev/rsync/
.config/dev/startpage/
.config/dev/void-bootstrap/
.config/dev/void-dmenu/
.config/dev/void-dwm/
.config/dev/void-dwmblocks/
.config/dev/void-slock/
.config/dev/void-st/
.config/emacs/auto-save-list/
.config/emacs/elpa/
.config/emacs/init.el
.config/emacs/package-quickstart.el
.config/emacs/recentf
.config/fzf/
.config/lf/shrc
.config/mbsync/mbsyncrc
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/msmtp/config
.config/mutt/
.config/ncmpcpp/error.log
.config/newsboat/error.log
.config/notmuchrc
.config/nvim/autoload/
.config/nvim/plugged/
.config/pulse/95ce512648fafeb9027c95de620c1026-card-database.tdb
.config/pulse/95ce512648fafeb9027c95de620c1026-default-sink
.config/pulse/95ce512648fafeb9027c95de620c1026-default-source
.config/pulse/95ce512648fafeb9027c95de620c1026-device-volumes.tdb
.config/pulse/95ce512648fafeb9027c95de620c1026-stream-volumes.tdb
.config/pulse/cookie
.config/qutebrowser/bookmarks/urls
.config/qutebrowser/quickmarks
.config/shell/shrc
.config/shell/zshdirrc
.config/sv/emacs-daemon/supervise/
.config/zsh/.zcompdump
.config/zsh/zplug/
.config/zsh/.history
.dbus/
.local/share/lf/
.local/share/newsboat/
.local/share/nvim/
.local/share/qutebrowser/
.local/var/service/
.pki/
