dots
.Xauthority
.steam/
.steampath
.steampid
.cache/
.config/Signal/
.config/cron/
.config/dev/calendar-vim/
.config/dev/personal/
.config/dev/rsync/
.config/dev/rUI/
.config/dev/startpage/
.config/dev/void-bootstrap/
.config/dev/void-dmenu/
.config/dev/void-dwm/
.config/dev/void-dwmblocks/
.config/dev/void-packages/
.config/dev/void-slock/
.config/dev/void-st/
.config/dl/
.config/emacs/ac-comphist.dat
.config/emacs/auto-save-list/
.config/emacs/elpa/
.config/emacs/init.el
.config/emacs/package-quickstart.el
.config/emacs/recentf
.config/fzf/
.config/glib-2.0/
.config/htop/
.config/lf/shrc
.config/lutris/
.config/mbsync/mbsyncrc
.config/menus/
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/msmtp/config
.config/mutt/
.config/mpv/watch_later/
.config/ncmpcpp/error.log
.config/newsboat/error.log
.config/notmuchrc
.config/nvim/plugin/
.config/pulse/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/urls
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks
.config/shell/shrc
.config/shell/zshdirrc
.config/ss/
.config/sv/emacs-daemon/supervise/
.config/transmission-daemon/stats.json
.config/unity3d/
.config/zsh/.zcompdump
.config/zsh/zplug/
.config/zsh/.history
.dbus/
.local/share/applications/mimeinfo.cache
.local/share/applications/steam.desktop
.local/share/applications/wine*
.local/share/desktop-directories/
.local/share/fonts/.uuid
.local/share/icons/
.local/share/lf/
.local/share/lutris/
.local/share/mime/
.local/share/mail/
.local/share/newsboat/
.local/share/nvim/
.local/share/qutebrowser/
.local/share/recently-used.xbel
.local/share/Steam/
.local/share/vulkan/
.local/share/weatherreport
.local/share/zathura/
.local/var/service/
.pki/
.ssh/
